<div class="container">

  <h1 class="title">✨ Todo App</h1>

  <div class="task-input">

    <input
      class="search-input"
      [ngModel]="search()"
      (ngModelChange)="search.set($event)"
      placeholder="🔍 Поиск задачи..."
    >

    <input
      [(ngModel)]="newTask"
      (keyup.enter)="addTask()"
      placeholder="Добавить новую задачу..."
    >

    <button class="add-btn" (click)="addTask()">
      Добавить
    </button>

  </div>

  <div class="filters">
    <button
      [class.active]="filter() === 'all'"
      (click)="filter.set('all')"
    >
      Все
    </button>

    <button
      [class.active]="filter() === 'active'"
      (click)="filter.set('active')"
    >
      Активные
    </button>

    <button
      [class.active]="filter() === 'done'"
      (click)="filter.set('done')"
    >
      Выполненные
    </button>
  </div>

  <div
    class="task-list"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
  >
    <div class="empty-state" *ngIf="filteredTasks().length === 0">
      <div class="empty-title">
        {{ emptyTitle() }}
      </div>

      <div class="empty-subtitle">
        {{ emptySubtitle() }}
      </div>
    </div>

    <div
      class="task-card"
      *ngFor="let task of filteredTasks(); trackBy: trackById"
      cdkDrag
      [class.deleting]="task.isDeleting"
      [class.completed]="task.done"
    >

      <span class="drag-handle" cdkDragHandle>
          ☰
      </span>
      <input
        type="checkbox"
        [checked]="task.done"
        (change)="toggleDone(task)"
      >

      <span
        *ngIf="!task.isEdit"
        class="task-text"
        [class.done]="task.done"
      >
        {{ task.text }}
      </span>

      <input
        *ngIf="task.isEdit"
        [(ngModel)]="task.text"
        class="edit-input"
      >

      <button
        class="icon-btn"
        *ngIf="!task.isEdit"
        (click)="editTask(task)"
      >
        ✏️
      </button>

      <button
        class="icon-btn"
        *ngIf="task.isEdit"
        (click)="saveTask(task)"
      >
        💾
      </button>

      <button
        class="icon-btn"
        (click)="deleteTask(task.id)"
      >
        🗑️
      </button>

    </div>

  </div>

  <div class="stats">

    <div class="stats-item">
      <span class="stats-number">{{ totalCount() }}</span>
      <span class="stats-label">Всего</span>
    </div>

    <div class="stats-item">
      <span class="stats-number">{{ activeCount() }}</span>
      <span class="stats-label">Активных</span>
    </div>

    <div class="stats-item">
      <span class="stats-number">{{ doneCount() }}</span>
      <span class="stats-label">Выполненных</span>
    </div>

  </div>

</div>
